.DS_Store
__pycache__/
*.pyc

# datasets
Vehicles_Detection.v8i.yolov8/
Vehicles_Detection.v9i.yolov8/
Apply_Grayscale/
No_Apply_Grayscale/

# training outputs
runs/

# model weights
*.pt

# demo videos
videos/
outputs/